@{
    Layout = null;
 }

<div class="text-center">
    <h1 class="display-4">Confirm Payment Index</h1>
     
</div>

<script>
    console.log('Confirm payment : 3DS-authentication-complete');
   window.parent.postMessage('3DS-authentication-complete');
</script>